body {
    background-color: black;
}

.navigation {
    margin: auto;
}

.navigation li {
    padding-left: 80px;
}

#car-bg {
    width: 55rem;
    max-width: 100%;
    display: block;
    margin: auto;
}
