body {
    background-color: black;
}

.navigation li {
    list-style: none;
    display: inline;
}

.navigation li a {
    text-decoration: none;
    color: red;
    padding: 30px;
    font-size: 20px;
    transition: all linear .3s;
}

.navigation li a:hover {
    color: rgb(196, 8, 8);
}

#car-bg {
    display: block;
    margin: auto;
}